ARCHIPEL_NODE_ALIAS=Archipel-TemplateArchipelName-TemplateArchipelNodeName
ARCHIPEL_KEY_SEED=
ARCHIPEL_AUTHORITIES_SR25519_LIST=
ARCHIPEL_AUTHORITIES_ED25519_LIST=
ARCHIPEL_RESERVED_PEERS=
ARCHIPEL_SERVICE_MODE=orchestrator
ARCHIPEL_TELEMETRY_URL=
SERVICE=polkadot
POLKADOT_NAME=Archipel-TemplateArchipelName-TemplateArchipelNodeName
POLKADOT_IMAGE=parity/polkadot:latest
POLKADOT_PREFIX=kusama-data-
POLKADOT_KEY_GRAN=
POLKADOT_KEY_BABE=
POLKADOT_KEY_IMON=
POLKADOT_KEY_PARA=
POLKADOT_KEY_AUDI=
POLKADOT_RESERVED_NODES=
POLKADOT_TELEMETRY_URL=
POLKADOT_ADDITIONAL_OPTIONS=
# WireGuard config
WIREGUARD_PRIVATE_KEY=SJWzBT8....
WIREGUARD_ADDRESS=10.0.1.1/32
WIREGUARD_LISTEN_PORT=51820
WIREGUARD_PEERS_PUB_ADDR=9dcIYKj...,xg3wSS+...,gMjvfQGXWYJ...
WIREGUARD_PEERS_ALLOWED_IP=10.0.1.1/32,10.0.1.2/32,10.0.1.3/32
WIREGUARD_PEERS_EXTERNAL_ADDR=<public_ip>:51820,<public_ip>:51820,<public_ip>:51820
