# Archipel Test Results

## [Substrate runtime tests](https://github.com/luguslabs/archipel/tree/master/chain#test)

- https://github.com/luguslabs/archipel/tree/master/chain#test

- Expected result

```bash
running 9 tests
test archipel::tests::set_leader_event_should_work ... ok
test archipel::tests::set_leader_should_work ... ok
test archipel::tests::change_leader_should_work ... ok
test archipel::tests::update_metrics_event_should_work ... ok
test archipel::tests::check_timestamp_update_metrics_event_should_work ... ok
test archipel::tests::add_metrics_should_work ... ok
test archipel::tests::update_metrics_should_work ... ok
test archipel::tests::wrong_old_leader_should_fail ... ok
test archipel::tests::me_old_leader_should_fail ... ok

test result: ok. 9 passed; 0 failed; 0 ignored; 0 measured; 0 filtered out
```

## [Orchestrator tests](https://github.com/luguslabs/archipel/tree/master/chain#test)

- https://github.com/luguslabs/archipel/tree/master/orchestrator#testing

- Expected result

```bash
Test Suites: 4 passed, 4 total
Tests:       30 passed, 30 total
Snapshots:   0 total
Time:        266.505s, estimated 267s
Ran all test suites.
```





