ARCHIPEL_NODE_ALIAS=Archipel-TemplateArchipelName-TemplateArchipelNodeName
ARCHIPEL_KEY_SEED=
ARCHIPEL_AUTHORITIES_SR25519_LIST=
ARCHIPEL_AUTHORITIES_ED25519_LIST=
ARCHIPEL_CHAIN_ADDITIONAL_PARAMS=
SERVICE=polkadot
POLKADOT_NAME=Archipel-TemplateArchipelName-TemplateArchipelNodeName
POLKADOT_IMAGE=parity/polkadot:latest
POLKADOT_PREFIX=kusama-data-
POLKADOT_KEY_GRAN=
POLKADOT_KEY_BABE=
POLKADOT_KEY_IMON=
POLKADOT_KEY_PARA=
POLKADOT_KEY_AUDI=
POLKADOT_RESERVED_NODES=
POLKADOT_TELEMETRY_URL=
